@import 'partials/typography';
@import 'partials/heroes';

.body{
background-color: gray;
}

img{
width: 100vw;
}
.product-holder {
 position: relative;
}

.plus-image {
 left: 65%;
 top: 10%;
 position: absolute;
 margin-top: -200px;
 margin-left: -70px;
}
.thumbnail{
display: flex;
flex-direction: row;
float:left;
}
.thumbnail{
border-bottom-right-radius: 40px;
margin: auto;
 width: 100%;
 border: 10px solid grey;
 padding: 10px;
}
.thumbnail{
text-align-last: center;
 font-family: myFirstFont; 
 src: url(sansation_bold.woff);
 font-weight: bolder;
 font-size: 30px;
}
/*THIS IS DIFF TO STYLE.CS
.caption{
	font-family: $body-font;
	font-size: 30px;
}
*/

.ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

li {
 float: left;
}

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
 background-color: #111;
}

.footer-div {
	background-color: gray;
}
